# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
.next/
out/
*.tsbuildinfo

# Turbo
.turbo/

# Expo
.expo/
.expo-shared/
apps/mobile/web-build/
apps/mobile/dist/

# Prisma
apps/api/prisma/*.db

# Env
.env
.env.local
.env.*.local
!.env.example

# Testing
coverage/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
